In [1]:
import pandas as pd
import numpy as np

In [2]:
atrasos = pd.read_csv('../dex/clean/modelo.csv', delimiter=';', low_memory=False)
atrasos

,var_mes,dex_cliente_id,saldo,en_plazo,atr_1_7_dias,atr_8_15_dias,atr_16_30_dias,atr_31_45_dias,atr_46_60_dias,atr_61_90_dias,...,deuda_tot_06_d,mora_01_d,mora_02_d,mora_03_d,mora_04_d,mora_05_d,mora_06_d,num_meses_con_deuda_6_post,flag_default,tmp_max_6m
0,201701,12002,555.47,0.00,0.00,0.00,555.47,0.0,0.0,0.0,...,1105.14,0.0,0.0,0.0,0.0,0.0,0.0,6,0,NaN
1,201701,12045,3083.26,3083.26,0.00,0.00,0.00,0.0,0.0,0.0,...,1786.70,0.0,0.0,0.0,0.0,0.0,0.0,6,0,NaN
2,201701,12050,168.51,168.51,0.00,0.00,0.00,0.0,0.0,0.0,...,714.32,0.0,0.0,0.0,0.0,0.0,0.0,6,0,NaN
3,201701,12054,927.16,550.97,0.00,376.19,0.00,0.0,0.0,0.0,...,254.16,0.0,0.0,0.0,0.0,0.0,0.0,6,0,NaN
4,201701,12081,1129.48,999.87,0.00,0.00,129.61,0.0,0.0,0.0,...,986.27,0.0,0.0,0.0,0.0,0.0,0.0,6,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135103,202103,1641658,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
2135104,202103,1641659,16652.64,16652.64,0.00,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
2135105,202103,1641671,126.44,0.00,126.44,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
2135106,202103,1641720,107.98,0.00,107.98,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
2135107,202103,1641770,2.84,0.00,2.84,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN

In [3]:
atrasos['deuda_default'] = (atrasos['atr_61_90_dias']+
                             atrasos['atr_91_120_dias']+
                             atrasos['atr_121_150_dias']+
                             atrasos['atr_151_180_dias']+
                             atrasos['atr_181_360_dias']+
                             atrasos['atr_360_dias_a_mas'])

In [4]:
def generando_cartera_atrasada(row, columnas):
    global valor_sumado
    valor_sumado = 0
    for i in columnas:
        if pd.notna(row[i]):
            valor_sumado = valor_sumado + row[i]
    return valor_sumado

columnas = ['atr_8_15_dias', 'atr_16_30_dias', 'atr_31_45_dias', 'atr_46_60_dias', 'atr_61_90_dias', 'atr_91_120_dias', 'atr_121_150_dias', 'atr_151_180_dias', 'atr_181_360_dias', 'atr_360_dias_a_mas']
atrasos = atrasos.assign(cartera_atrasada_mayor_7_dias=atrasos.apply(generando_cartera_atrasada, axis=1, columnas=columnas))

In [5]:
data = atrasos[atrasos['var_mes']>202002]
data

,var_mes,dex_cliente_id,saldo,en_plazo,atr_1_7_dias,atr_8_15_dias,atr_16_30_dias,atr_31_45_dias,atr_46_60_dias,atr_61_90_dias,...,mora_02_d,mora_03_d,mora_04_d,mora_05_d,mora_06_d,num_meses_con_deuda_6_post,flag_default,tmp_max_6m,deuda_default,cartera_atrasada_mayor_7_dias
1882152,202003,12002,825.31,825.31,0.00,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,3.0,0.0,0.00
1882153,202003,12009,326.92,0.00,326.92,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,3.0,0.0,0.00
1882154,202003,12045,455.96,0.00,455.96,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,4.0,0.0,0.00
1882155,202003,12048,2078.49,910.08,0.00,884.47,283.94,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1,0,2.0,0.0,1168.41
1882156,202003,12050,693.30,381.80,311.50,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,3.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135103,202103,1641658,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0.0,0.00
2135104,202103,1641659,16652.64,16652.64,0.00,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0.0,0.00
2135105,202103,1641671,126.44,0.00,126.44,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0.0,0.00
2135106,202103,1641720,107.98,0.00,107.98,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0.0,0.00
2135107,202103,1641770,2.84,0.00,2.84,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0.0,0.00

In [6]:
clientes = pd.read_csv('../dex/clientes.csv',delimiter=';')
clientes

,id,name,type,channel
0,1097501,YURI GOMEZ CADILLO,PANIFICACIÓN,MINORISTAS
1,1156732,ALVARADO BARRERA ROY EDUARDO,MINIMARK./ESTAC.SERV,MINORISTAS
2,583337,ARTICA GARCIA BEATRIZ,BODEGA,MINORISTAS
3,1150752,MENDOZA ANTICONA ENRIQUE,MINIMARK./ESTAC.SERV,MINORISTAS
4,1153420,ARTICA GARCIA BEATRIZ,BODEGAS,MINORISTAS
...,...,...,...,...
799542,512826,CARMEN OTINIANO GUERRERO DE,BODEGA,CADENAS DE FARMACIAS
799543,512849,NUÑEZ CALDERON ROSARIO,BODEGA,CADENAS DE FARMACIAS
799544,512875,ROSABEL CACERES ESPINOZA,BODEGA,CADENAS DE FARMACIAS
799545,1015607,EMP. SERV. MULT. EIRL,BODEGA,MINORISTAS
799546,1051482,GASTON GUZMAN RODRIGUEZ,BODEGA,MINORISTAS

In [7]:
df = data.merge(clientes, left_on='dex_cliente_id', right_on='id', how='left')
df = df.drop(columns=['id'])
df

,var_mes,dex_cliente_id,saldo,en_plazo,atr_1_7_dias,atr_8_15_dias,atr_16_30_dias,atr_31_45_dias,atr_46_60_dias,atr_61_90_dias,...,mora_05_d,mora_06_d,num_meses_con_deuda_6_post,flag_default,tmp_max_6m,deuda_default,cartera_atrasada_mayor_7_dias,name,type,channel
0,202003,12002,825.31,825.31,0.00,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,3.0,0.0,0.00,MARIA GARCIA SACCACO DE PILLACA,PUESTO DE MERCADO,MINORISTAS
1,202003,12009,326.92,0.00,326.92,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,3.0,0.0,0.00,GUILLERMINA QUINTANA HUACHACA,BODEGAS,MINORISTAS
2,202003,12045,455.96,0.00,455.96,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,4.0,0.0,0.00,HILDA MORALES ROJAS,PUESTO DE MERCADO,MINORISTAS
3,202003,12048,2078.49,910.08,0.00,884.47,283.94,0.0,0.0,0.0,...,NaN,NaN,1,0,2.0,0.0,1168.41,ISABEL JURO HUAYLLANRE,PUESTO DE MERCADO,MINORISTAS
4,202003,12050,693.30,381.80,311.50,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,3.0,0.0,0.00,BERTHA BARRIENTOS ROCA,PUESTO DE MERCADO,MINORISTAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252951,202103,1641658,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,NaN,0.0,0.00,LAYKA COMERCIAL S.A.C.,BODEGAS,MINORISTAS
252952,202103,1641659,16652.64,16652.64,0.00,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,NaN,0.0,0.00,JHOSELYN LORENA CONDORI CONDORI,MAYORISTAS,MAYORISTAS
252953,202103,1641671,126.44,0.00,126.44,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,NaN,0.0,0.00,KARINA BEDREGAL RABINES,CONSUMIDORES,51
252954,202103,1641720,107.98,0.00,107.98,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,NaN,0.0,0.00,LIZET SERRUTO PAREDES,BODEGAS,MINORISTAS
252955,202103,1641770,2.84,0.00,2.84,0.00,0.00,0.0,0.0,0.0,...,NaN,NaN,0,0,NaN,0.0,0.00,ROBERT PEREZ BUENDIA,BODEGAS,MINORISTAS

In [8]:
dex = pd.read_csv('../dex/dex_info.csv', delimiter=';')
print(dex.info())
dex

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173583 entries, 0 to 173582
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   current_customer_id  173568 non-null  float64
 1   current_customer     173583 non-null  object
 2   customer_id          173583 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.0+ MB
None

        current_customer_id        current_customer  customer_id
0                 1060312.0  D L F MEDINA RIVERA SA        32142
1                 1060312.0  D L F MEDINA RIVERA SA        32299
2                 1060312.0  D L F MEDINA RIVERA SA        34839
3                 1060312.0  D L F MEDINA RIVERA SA        35035
4                 1060312.0  D L F MEDINA RIVERA SA       261273
...                     ...                     ...          ...
173578                  NaN             SIN ASIGNAR      1547782
173579                  NaN             SIN ASIGNAR      1547863
173580                  NaN             SIN ASIGNAR      1565757
173581                  NaN             SIN ASIGNAR      1620628
173582                  NaN             SIN ASIGNAR      1621331

[173583 rows x 3 columns]

In [9]:
df = df.merge(dex, left_on='dex_cliente_id', right_on='customer_id', how='left')
df = df.drop_duplicates(subset=['var_mes','dex_cliente_id'])
df

,var_mes,dex_cliente_id,saldo,en_plazo,atr_1_7_dias,atr_8_15_dias,atr_16_30_dias,atr_31_45_dias,atr_46_60_dias,atr_61_90_dias,...,flag_default,tmp_max_6m,deuda_default,cartera_atrasada_mayor_7_dias,name,type,channel,current_customer_id,current_customer,customer_id
0,202003,12002,825.31,825.31,0.00,0.00,0.00,0.0,0.0,0.0,...,0,3.0,0.0,0.00,MARIA GARCIA SACCACO DE PILLACA,PUESTO DE MERCADO,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12002.0
1,202003,12009,326.92,0.00,326.92,0.00,0.00,0.0,0.0,0.0,...,0,3.0,0.0,0.00,GUILLERMINA QUINTANA HUACHACA,BODEGAS,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12009.0
2,202003,12045,455.96,0.00,455.96,0.00,0.00,0.0,0.0,0.0,...,0,4.0,0.0,0.00,HILDA MORALES ROJAS,PUESTO DE MERCADO,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12045.0
3,202003,12048,2078.49,910.08,0.00,884.47,283.94,0.0,0.0,0.0,...,0,2.0,0.0,1168.41,ISABEL JURO HUAYLLANRE,PUESTO DE MERCADO,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12048.0
4,202003,12050,693.30,381.80,311.50,0.00,0.00,0.0,0.0,0.0,...,0,3.0,0.0,0.00,BERTHA BARRIENTOS ROCA,PUESTO DE MERCADO,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12050.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253075,202103,1641658,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,LAYKA COMERCIAL S.A.C.,BODEGAS,MINORISTAS,1483722.0,MT DISTRIBUCIONES S.A.C.,1641658.0
253076,202103,1641659,16652.64,16652.64,0.00,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,JHOSELYN LORENA CONDORI CONDORI,MAYORISTAS,MAYORISTAS,1119256.0,ALMA DISTRIBUCIONES E.I.R.L.,1641659.0
253077,202103,1641671,126.44,0.00,126.44,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,KARINA BEDREGAL RABINES,CONSUMIDORES,51,2605622.0,DISTRIBUIDORA NUGENT SA,1641671.0
253078,202103,1641720,107.98,0.00,107.98,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,LIZET SERRUTO PAREDES,BODEGAS,MINORISTAS,1483722.0,MT DISTRIBUCIONES S.A.C.,1641720.0
253079,202103,1641770,2.84,0.00,2.84,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,ROBERT PEREZ BUENDIA,BODEGAS,MINORISTAS,1348609.0,MBA DEX SOCIEDAD ANONIMA CERRADA,1641770.0

In [20]:
ventas = pd.read_csv('../dex/clean/ventas_proc.csv', delimiter=',', low_memory=False)
ventas

,Unnamed: 0,var_mes,ali_cliente_id,dex_cliente_id,venta_cont,venta_cred,venta_tot,cobr_plazo,cobr_atraso,cobr_tot,plazo_cobr,saldo_cta_corr,saldo_chq_rechaz,dias_cred
0,0,201701,1060312,32020,397.07,1024.74,1421.81,0.0,1296.91,1296.91,12.0,625.99,0.0,13.648582
1,1,201701,1060312,32142,56.83,0.00,56.83,0.0,36.90,36.90,1.0,19.93,0.0,10.871547
2,2,201701,1060312,32561,339.73,0.00,339.73,0.0,339.73,339.73,1.0,0.00,0.0,0.000000
3,3,201701,1060312,34839,0.00,25854.97,25854.97,0.0,19706.23,19706.23,17.0,14430.21,0.0,17.301761
4,4,201701,1060312,34882,0.00,1386.67,1386.67,100.0,725.60,825.60,11.0,758.20,0.0,16.950104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6482651,6482667,202102,2605622,1639565,70.39,0.00,70.39,0.0,0.00,0.00,0.0,0.00,0.0,0.000000
6482652,6482668,202102,2605622,1639566,76.26,0.00,76.26,0.0,0.00,0.00,0.0,0.00,0.0,0.000000
6482653,6482669,202102,2605622,1639571,43.34,0.00,43.34,0.0,0.00,0.00,0.0,0.00,0.0,0.000000
6482654,6482670,202102,2605622,1639582,122.89,0.00,122.89,0.0,0.00,0.00,0.0,0.00,0.0,0.000000
6482655,6482671,202102,2605622,1639587,213.19,0.00,213.19,0.0,0.00,0.00,0.0,0.00,0.0,0.000000

In [10]:
df['channel'].value_counts()

MINORISTAS       228488
MAYORISTAS        19489
VARIOS             4290
INSTITUCIONES       448
51                   95
INDUSTRIAS           55
SIN ASIGNAR          33
Name: channel, dtype: int64

In [11]:
df['type'].value_counts()

BODEGAS                 118093
PUESTO DE MERCADO        46729
GASTRONOMÍA              37917
PANIFICACIÓN             20307
MAYORISTAS               19489
MOSTRADOR                 4290
ALTERN. BODEGAS           3872
MINIMARK./ESTAC.SERV      1550
INSTITUCIONES              448
CONSUMIDORES                79
INDUSTRIAS                  55
SIN ASIGNAR                 33
FARMACIAS                   15
DARKSTORE                   12
VENTA INST. ALICORP          5
KATU                         4
Name: type, dtype: int64

In [12]:
df = df[df['type'].isin(
    ['BODEGAS','PUESTO DE MERCADO','GASTRONOMÍA','PANIFICACIÓN','MAYORISTAS']
)]

df

,var_mes,dex_cliente_id,saldo,en_plazo,atr_1_7_dias,atr_8_15_dias,atr_16_30_dias,atr_31_45_dias,atr_46_60_dias,atr_61_90_dias,...,flag_default,tmp_max_6m,deuda_default,cartera_atrasada_mayor_7_dias,name,type,channel,current_customer_id,current_customer,customer_id
0,202003,12002,825.31,825.31,0.00,0.00,0.00,0.0,0.0,0.0,...,0,3.0,0.0,0.00,MARIA GARCIA SACCACO DE PILLACA,PUESTO DE MERCADO,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12002.0
1,202003,12009,326.92,0.00,326.92,0.00,0.00,0.0,0.0,0.0,...,0,3.0,0.0,0.00,GUILLERMINA QUINTANA HUACHACA,BODEGAS,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12009.0
2,202003,12045,455.96,0.00,455.96,0.00,0.00,0.0,0.0,0.0,...,0,4.0,0.0,0.00,HILDA MORALES ROJAS,PUESTO DE MERCADO,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12045.0
3,202003,12048,2078.49,910.08,0.00,884.47,283.94,0.0,0.0,0.0,...,0,2.0,0.0,1168.41,ISABEL JURO HUAYLLANRE,PUESTO DE MERCADO,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12048.0
4,202003,12050,693.30,381.80,311.50,0.00,0.00,0.0,0.0,0.0,...,0,3.0,0.0,0.00,BERTHA BARRIENTOS ROCA,PUESTO DE MERCADO,MINORISTAS,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12050.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253073,202103,1641618,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,CARRERA CHIGNE MANUEL ROGER,BODEGAS,MINORISTAS,1060361.0,DISTRIBUIDORA CUNZA S.A.,1641618.0
253075,202103,1641658,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,LAYKA COMERCIAL S.A.C.,BODEGAS,MINORISTAS,1483722.0,MT DISTRIBUCIONES S.A.C.,1641658.0
253076,202103,1641659,16652.64,16652.64,0.00,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,JHOSELYN LORENA CONDORI CONDORI,MAYORISTAS,MAYORISTAS,1119256.0,ALMA DISTRIBUCIONES E.I.R.L.,1641659.0
253078,202103,1641720,107.98,0.00,107.98,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,LIZET SERRUTO PAREDES,BODEGAS,MINORISTAS,1483722.0,MT DISTRIBUCIONES S.A.C.,1641720.0
253079,202103,1641770,2.84,0.00,2.84,0.00,0.00,0.0,0.0,0.0,...,0,NaN,0.0,0.00,ROBERT PEREZ BUENDIA,BODEGAS,MINORISTAS,1348609.0,MBA DEX SOCIEDAD ANONIMA CERRADA,1641770.0

In [13]:
df['tipo'] = np.where(df['type'].isin(['GASTRONOMÍA','PANIFICACIÓN']),'B2B','CMP')
df['tipo'].value_counts()

<ipython-input-13-5510e98487cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tipo'] = np.where(df['type'].isin(['GASTRONOMÍA','PANIFICACIÓN']),'B2B','CMP')

CMP    184311
B2B     58224
Name: tipo, dtype: int64

In [14]:
#CLIENTES POR MES
n_clientes = pd.pivot_table(
    df,
    index='var_mes',
    aggfunc={'dex_cliente_id':pd.Series.nunique}
)

n_clientes

         dex_cliente_id
var_mes
202003            36857
202004            25973
202005            19750
202006            15152
202007            13609
202008            12596
202009            12855
202010            17423
202011            21143
202012            19406
202101            17665
202102            14776
202103            15330

In [18]:
#CARTERA ATRASADA MENSUAL POR DEX
clientes = df[['var_mes','current_customer_id','current_customer','dex_cliente_id','name','tipo','type','saldo','cartera_atrasada','cartera_atrasada_mayor_7_dias','deuda_default','flag_default']]
clientes

,var_mes,current_customer_id,current_customer,dex_cliente_id,name,tipo,type,saldo,cartera_atrasada,cartera_atrasada_mayor_7_dias,deuda_default,flag_default
0,202003,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12002,MARIA GARCIA SACCACO DE PILLACA,CMP,PUESTO DE MERCADO,825.31,0.00,0.00,0.0,0
1,202003,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12009,GUILLERMINA QUINTANA HUACHACA,CMP,BODEGAS,326.92,326.92,0.00,0.0,0
2,202003,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12045,HILDA MORALES ROJAS,CMP,PUESTO DE MERCADO,455.96,455.96,0.00,0.0,0
3,202003,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12048,ISABEL JURO HUAYLLANRE,CMP,PUESTO DE MERCADO,2078.49,1168.41,1168.41,0.0,0
4,202003,1646779.0,COBERDEX SOCIEDAD ANONIMA CERRADA,12050,BERTHA BARRIENTOS ROCA,CMP,PUESTO DE MERCADO,693.30,311.50,0.00,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
253073,202103,1060361.0,DISTRIBUIDORA CUNZA S.A.,1641618,CARRERA CHIGNE MANUEL ROGER,CMP,BODEGAS,0.00,0.00,0.00,0.0,0
253075,202103,1483722.0,MT DISTRIBUCIONES S.A.C.,1641658,LAYKA COMERCIAL S.A.C.,CMP,BODEGAS,0.00,0.00,0.00,0.0,0
253076,202103,1119256.0,ALMA DISTRIBUCIONES E.I.R.L.,1641659,JHOSELYN LORENA CONDORI CONDORI,CMP,MAYORISTAS,16652.64,0.00,0.00,0.0,0
253078,202103,1483722.0,MT DISTRIBUCIONES S.A.C.,1641720,LIZET SERRUTO PAREDES,CMP,BODEGAS,107.98,107.98,0.00,0.0,0
253079,202103,1348609.0,MBA DEX SOCIEDAD ANONIMA CERRADA,1641770,ROBERT PEREZ BUENDIA,CMP,BODEGAS,2.84,2.84,0.00,0.0,0

In [16]:
clientes['current_customer'].value_counts()

D L F MEDINA RIVERA SA                 21068
FUERZADEX S.A.C.                       18091
DISTRIBUIDORA JC SAC                   16438
ATIPANA DEX S.A.C.                     13834
DISTRIBUCIONES EXCLUSIVAS DEL SUR      13033
DISTRIBUIDORA CUNZA S.A.               12598
COBERDEX SOCIEDAD ANONIMA CERRADA      12527
DISTRIBUIDORA NUGENT SA                12009
DISTRIBUIDORA MADEX SAC                10396
MBA DEX SOCIEDAD ANONIMA CERRADA        8877
DIXIAL S.A.C.                           8726
JM GENG DISTRIBUCIONES S.A.C.           8077
MT DISTRIBUCIONES S.A.C.                8029
DEX MINALI SOCIEDAD ANONIMA CERRADA     7347
F&B SUR S.A.C.                          6777
SAYMER DISTRIBUCIONES E.I.R.L.          5978
DALIDELO E.I.R.L.                       5946
DISTRIBUIDORA OTOYA S.A.C.              5756
DIST.DE PRODUCTOS DE CONSUMO MASIVO     5489
ROSET DISTRIBUCIONES EIRL               3885
DISTRIBUIDORA AURELIO S.A.C.            3225
DALIMNORT S.A.C.                        2985
ALMA DISTRIBUCIONES E.I.R.L.            2947
DISTRIBUIDORA ALIMENTOS DEL VALLE       2242
DISTRIBUIDORA DIFARO S.A.C.             2165
VITALE DEX S.A.C.                       2105
DISTRIBUIDORA ATIX S.A.C.               1985
DISTRIBUIDORA RODRIGUEZ S.A.            1930
DISTRIBUIDORA CASTILLO CASTILLO SAC     1926
DEX MAYALI SOCIEDAD ANONIMA CERRADA     1484
JLJ DISTRIBUCIONES S.A.C.               1152
DISTRIBUIDORA COMERCIAL LUIS ARTURO     1011
DISTRIBUIDORA A Y D S.A.C.               715
DISTRIBUIDORA BENAVENTE S.A..            692
DISTRIBUIDORA MKM S.A.C                  422
DISTRIBUIDORA LOS ALCAPARROS SAC         175
DISNORTE S.A.C.                          119
Name: current_customer, dtype: int64

In [17]:
with pd.ExcelWriter('../dex_info_act.xlsx') as writer:  
    n_clientes.to_excel(writer, sheet_name='clientes_activos')
    clientes.to_excel(writer, sheet_name='clientes')