In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("display.float_format", lambda x: "%.2f" % x)
pd.set_option('mode.chained_assignment', None)

In [3]:
atrasos = pd.read_csv('../dex/atrasos.csv', delimiter=';', low_memory=False)
atrasos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517692 entries, 0 to 2517691
Data columns (total 21 columns):
 #   Column                Dtype
---  ------                -----
 0   month_id              int64
 1   customer_id           int64
 2   customer              object
 3   customer_dex_id       int64
 4   customer_dex          object
 5   document_date         object
 6   document_number       int64
 7   payment_condition_id  object
 8   payment_condition     object
 9   amount                float64
 10  on_time               float64
 11  delay_001_007_days    float64
 12  delay_008_015_days    float64
 13  delay_016_030_days    float64
 14  delay_031_060_days    float64
 15  delay_061_090_days    float64
 16  delay_091_120_days    float64
 17  delay_121_150_days    float64
 18  delay_151_180_days    float64
 19  delay_181_360_days    float64
 20  delay_360_to_more     float64
dtypes: float64(12), int64(4), object(5)
memory usage: 403.4+ MB

In [4]:
atrasos = atrasos[atrasos['payment_condition_id'] != '#']

In [5]:
atrasos = atrasos.drop_duplicates(subset=['customer_dex_id','amount'], keep='first')
atrasos

,month_id,customer_id,customer,customer_dex_id,customer_dex,document_date,document_number,payment_condition_id,payment_condition,amount,...,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more
0,201801,1060312,D L F MEDINA RIVERA SA,32020,DO A HERMINIA S.R.L,2017-12-30,697003042,C003,DENTRO DE LOS 3 DÍAS,28.99,...,nan,nan,28.99,nan,nan,nan,nan,nan,nan,nan
1,201801,1060312,D L F MEDINA RIVERA SA,32299,ARMANDO CESAR CAMACHO MUSTO,2018-01-16,697003536,C007,CRÉDITO 7 DÍAS,159.00,...,nan,159.00,nan,nan,nan,nan,nan,nan,nan,nan
2,201801,1060312,D L F MEDINA RIVERA SA,32561,VARGAS TORRES PATRICIA ESTHER,2017-12-29,697003035,C014,CRÉDITO 14 DÍAS,27.82,...,nan,nan,27.82,nan,nan,nan,nan,nan,nan,nan
3,201801,1060312,D L F MEDINA RIVERA SA,34839,GOMEZ ZUBIZARRETA BORIS,2018-01-18,697003164,C014,CRÉDITO 14 DÍAS,5216.41,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,201801,1060312,D L F MEDINA RIVERA SA,34839,GOMEZ ZUBIZARRETA BORIS,2018-01-25,697003211,C014,CRÉDITO 14 DÍAS,4896.00,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2517687,202102,2605622,DISTRIBUIDORA NUGENT SA,1629728,APUDEX S.A.C.,2021-02-26,750000012,C021,CRÉDITO 21 DÍAS,12965.39,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2517688,202102,2605622,DISTRIBUIDORA NUGENT SA,1636856,JULISSA JENNIPHER ARISTA VELASCO,2021-02-09,750000126,Z00E,CONTRA ENTREGA EFECTIVO,65.18,...,nan,nan,65.18,nan,nan,nan,nan,nan,nan,nan
2517689,202102,2605622,DISTRIBUIDORA NUGENT SA,1636856,JULISSA JENNIPHER ARISTA VELASCO,2021-02-10,750000009,C003,DENTRO DE LOS 3 DÍAS,-65.18,...,nan,-65.18,nan,nan,nan,nan,nan,nan,nan,nan
2517690,202102,2605622,DISTRIBUIDORA NUGENT SA,1637928,PROMILSA SRL,2021-02-09,750000010,Z00E,CONTRA ENTREGA EFECTIVO,76.01,...,nan,nan,76.01,nan,nan,nan,nan,nan,nan,nan
2517691,202102,2605622,DISTRIBUIDORA NUGENT SA,1637928,PROMILSA SRL,2021-02-10,750000000,C003,DENTRO DE LOS 3 DÍAS,-76.01,...,nan,-76.01,nan,nan,nan,nan,nan,nan,nan,nan

In [6]:
atrasos = atrasos.groupby(['month_id','customer_dex_id','customer_dex'])[['amount','on_time','delay_001_007_days',
                                                                          'delay_008_015_days','delay_016_030_days',
                                                                          'delay_031_060_days','delay_061_090_days',
                                                                          'delay_091_120_days','delay_121_150_days',
                                                                          'delay_151_180_days','delay_181_360_days',
                                                                          'delay_360_to_more']].sum()

atrasos = atrasos.reset_index()

atrasos

,month_id,customer_dex_id,customer_dex,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more
0,201801,12002,MARIA GARCIA SACCACO DE PILLACA,246.83,0.00,246.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,201801,12009,GUILLERMINA QUINTANA HUACHACA,228.81,228.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,201801,12017,TEOFILO VILLA HUAYLAS,274.33,0.00,0.00,274.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,201801,12045,HILDA MORALES ROJAS,1305.37,731.48,0.00,573.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,201801,12050,BERTHA BARRIENTOS ROCA,183.86,183.86,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346049,202102,1639328,MORALES KASSANDRA GHIOMIFA,5.03,0.00,5.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1346050,202102,1639331,WESTREICHER FERNANDEZ RODINA BLANCA,313.56,0.00,313.56,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1346051,202102,1639348,ENZO ALESSANDRO BENITES HUANAY,0.00,-6.21,6.21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1346052,202102,1639359,CAMA RAMIREZ EVA YRENE,473.09,473.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1346053,202102,1639497,MAMANI SONCCO RAUL,-12.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-12.00,0.00,0.00

In [7]:
clientes = pd.read_csv('../dex/clientes.csv', delimiter=';', low_memory=False)
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796389 entries, 0 to 796388
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       796389 non-null  int64
 1   name     796389 non-null  object
 2   type     796389 non-null  object
 3   channel  796389 non-null  object
dtypes: int64(1), object(3)
memory usage: 24.3+ MB

In [8]:
df = atrasos.merge(clientes, left_on='customer_dex_id', right_on='id', how='left')
df

,month_id,customer_dex_id,customer_dex,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more,id,name,type,channel
0,201801,12002,MARIA GARCIA SACCACO DE PILLACA,246.83,0.00,246.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12002.00,MARIA GARCIA SACCACO DE PILLACA,PUESTO DE MERCADO,MINORISTAS
1,201801,12009,GUILLERMINA QUINTANA HUACHACA,228.81,228.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12009.00,GUILLERMINA QUINTANA HUACHACA,BODEGAS,MINORISTAS
2,201801,12017,TEOFILO VILLA HUAYLAS,274.33,0.00,0.00,274.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12017.00,TEOFILO VILLA HUAYLAS,PUESTO DE MERCADO,MINORISTAS
3,201801,12045,HILDA MORALES ROJAS,1305.37,731.48,0.00,573.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12045.00,HILDA MORALES ROJAS,PUESTO DE MERCADO,MINORISTAS
4,201801,12050,BERTHA BARRIENTOS ROCA,183.86,183.86,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12050.00,BERTHA BARRIENTOS ROCA,PUESTO DE MERCADO,MINORISTAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346049,202102,1639328,MORALES KASSANDRA GHIOMIFA,5.03,0.00,5.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1639328.00,MORALES KASSANDRA GHIOMIFA,BODEGAS,MINORISTAS
1346050,202102,1639331,WESTREICHER FERNANDEZ RODINA BLANCA,313.56,0.00,313.56,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1639331.00,WESTREICHER FERNANDEZ RODINA BLANCA,BODEGAS,MINORISTAS
1346051,202102,1639348,ENZO ALESSANDRO BENITES HUANAY,0.00,-6.21,6.21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1639348.00,ENZO ALESSANDRO BENITES HUANAY,BODEGAS,MINORISTAS
1346052,202102,1639359,CAMA RAMIREZ EVA YRENE,473.09,473.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1639359.00,CAMA RAMIREZ EVA YRENE,GASTRONOMÍA,MINORISTAS
1346053,202102,1639497,MAMANI SONCCO RAUL,-12.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-12.00,0.00,0.00,1639497.00,MAMANI SONCCO RAUL,PANIFICACIÓN,MINORISTAS

In [9]:
df.columns

Index(['month_id', 'customer_dex_id', 'customer_dex', 'amount', 'on_time',
       'delay_001_007_days', 'delay_008_015_days', 'delay_016_030_days',
       'delay_031_060_days', 'delay_061_090_days', 'delay_091_120_days',
       'delay_121_150_days', 'delay_151_180_days', 'delay_181_360_days',
       'delay_360_to_more', 'id', 'name', 'type', 'channel'],
      dtype='object')

In [10]:
df = df.drop(['id','name'],axis=1)
df = df[['month_id', 'customer_dex_id', 'customer_dex', 'type', 'channel', 'amount', 'on_time',
       'delay_001_007_days', 'delay_008_015_days', 'delay_016_030_days',
       'delay_031_060_days', 'delay_061_090_days', 'delay_091_120_days',
       'delay_121_150_days', 'delay_151_180_days', 'delay_181_360_days',
       'delay_360_to_more']]
df

,month_id,customer_dex_id,customer_dex,type,channel,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more
0,201801,12002,MARIA GARCIA SACCACO DE PILLACA,PUESTO DE MERCADO,MINORISTAS,246.83,0.00,246.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,201801,12009,GUILLERMINA QUINTANA HUACHACA,BODEGAS,MINORISTAS,228.81,228.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,201801,12017,TEOFILO VILLA HUAYLAS,PUESTO DE MERCADO,MINORISTAS,274.33,0.00,0.00,274.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,201801,12045,HILDA MORALES ROJAS,PUESTO DE MERCADO,MINORISTAS,1305.37,731.48,0.00,573.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,201801,12050,BERTHA BARRIENTOS ROCA,PUESTO DE MERCADO,MINORISTAS,183.86,183.86,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346049,202102,1639328,MORALES KASSANDRA GHIOMIFA,BODEGAS,MINORISTAS,5.03,0.00,5.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1346050,202102,1639331,WESTREICHER FERNANDEZ RODINA BLANCA,BODEGAS,MINORISTAS,313.56,0.00,313.56,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1346051,202102,1639348,ENZO ALESSANDRO BENITES HUANAY,BODEGAS,MINORISTAS,0.00,-6.21,6.21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1346052,202102,1639359,CAMA RAMIREZ EVA YRENE,GASTRONOMÍA,MINORISTAS,473.09,473.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1346053,202102,1639497,MAMANI SONCCO RAUL,PANIFICACIÓN,MINORISTAS,-12.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-12.00,0.00,0.00

In [11]:
df[df['type'].isnull() | df['channel'].isnull()]

,month_id,customer_dex_id,customer_dex,type,channel,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more
11183,201801,1048702,VALDERRAMA OJEDA JUAN,NaN,NaN,91.89,0.00,91.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28496,201801,1344797,REATEGUI TUANAMA MARIANELA,NaN,NaN,224.63,224.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
36188,201801,1408664,SANGAMA FLORES RUSVEL,NaN,NaN,348.18,348.18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
37553,201801,1418579,LAVANDERIA DON MARCELO E.I.R.LTDA.,NaN,NaN,385.12,78.16,306.96,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
37987,201801,1421826,JJ SERVICIOS LIZ E.I.R.L.,NaN,NaN,6426.11,0.00,0.00,0.00,2938.99,0.00,3487.12,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334161,202101,1620729,COMERCIO DIGITAL INTEGRAL S.A.C.,NaN,NaN,220.19,15.25,89.12,94.93,0.11,20.78,0.00,0.00,0.00,0.00,0.00,0.00
1334162,202101,1620756,LINIO PERU S.A.C. - LINIO PERU,NaN,NaN,1199.24,1045.53,112.65,41.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1340536,202102,1421826,JJ SERVICIOS LIZ E.I.R.L.,NaN,NaN,2289.18,2289.18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1345605,202102,1620729,COMERCIO DIGITAL INTEGRAL S.A.C.,NaN,NaN,162.61,146.84,2.78,0.00,0.00,0.00,12.99,0.00,0.00,0.00,0.00,0.00
1345607,202102,1620756,LINIO PERU S.A.C. - LINIO PERU,NaN,NaN,2689.21,1813.64,715.61,-123.56,283.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [12]:
df = df[df['type'].notna()]

In [13]:
df['type'].value_counts()

BODEGAS                 675609
PUESTO DE MERCADO       293331
GASTRONOMÍA             167176
PANIFICACIÓN             93202
MAYORISTAS               77984
ALTERN. BODEGAS          20229
MOSTRADOR                11749
MINIMARK./ESTAC.SERV      5226
INSTITUCIONES              972
SIN ASIGNAR                251
INDUSTRIAS                 108
CONSUMIDORES                44
FARMACIAS                    4
VENTA INST. ALICORP          4
DARKSTORE                    3
KATU                         3
Name: type, dtype: int64

In [14]:
df = df[df['type'].isin(['BODEGAS','PUESTO DE MERCADO','GASTRONOMÍA','PANIFICACIÓN','MAYORISTAS'])]

In [15]:
df['channel'].value_counts()

MINORISTAS    1229318
MAYORISTAS      77984
Name: channel, dtype: int64

In [16]:
df = df[df['month_id'].between(201801,202012)]

df['month_id'].unique()

array([201801, 201802, 201803, 201804, 201805, 201806, 201807, 201808,
       201809, 201810, 201811, 201812, 201901, 201902, 201903, 201904,
       201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912,
       202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008,
       202009, 202010, 202011, 202012])

In [17]:
df.head()

,month_id,customer_dex_id,customer_dex,type,channel,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more
0,201801,12002,MARIA GARCIA SACCACO DE PILLACA,PUESTO DE MERCADO,MINORISTAS,246.83,0.00,246.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,201801,12009,GUILLERMINA QUINTANA HUACHACA,BODEGAS,MINORISTAS,228.81,228.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,201801,12017,TEOFILO VILLA HUAYLAS,PUESTO DE MERCADO,MINORISTAS,274.33,0.00,0.00,274.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,201801,12045,HILDA MORALES ROJAS,PUESTO DE MERCADO,MINORISTAS,1305.37,731.48,0.00,573.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,201801,12050,BERTHA BARRIENTOS ROCA,PUESTO DE MERCADO,MINORISTAS,183.86,183.86,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [18]:
df[['customer_dex_id']] = df['customer_dex_id'].astype('int64')
df.iloc[:,5:] = df.iloc[:,5:].fillna(0)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1282066 entries, 0 to 1319978
Data columns (total 17 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   month_id            1282066 non-null  int64
 1   customer_dex_id     1282066 non-null  int64
 2   customer_dex        1282066 non-null  object
 3   type                1282066 non-null  object
 4   channel             1282066 non-null  object
 5   amount              1282066 non-null  float64
 6   on_time             1282066 non-null  float64
 7   delay_001_007_days  1282066 non-null  float64
 8   delay_008_015_days  1282066 non-null  float64
 9   delay_016_030_days  1282066 non-null  float64
 10  delay_031_060_days  1282066 non-null  float64
 11  delay_061_090_days  1282066 non-null  float64
 12  delay_091_120_days  1282066 non-null  float64
 13  delay_121_150_days  1282066 non-null  float64
 14  delay_151_180_days  1282066 non-null  float64
 15  delay_181_360_days  1282066 non-null  float64
 16  delay_360_to_more   1282066 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 176.1+ MB

In [20]:
var_mes = list(df['month_id'].unique())
var_mes

[201801,
 201802,
 201803,
 201804,
 201805,
 201806,
 201807,
 201808,
 201809,
 201810,
 201811,
 201812,
 201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912,
 202001,
 202002,
 202003,
 202004,
 202005,
 202006,
 202007,
 202008,
 202009,
 202010,
 202011,
 202012]

In [21]:
len(df['customer_dex_id'].unique())

143555

In [22]:
df.shape

(1282066, 17)

In [23]:
df['deuda_default'] = (df['delay_061_090_days']+
                       df['delay_091_120_days']+df['delay_121_150_days']+
                       df['delay_151_180_days']+df['delay_181_360_days']+
                       df['delay_360_to_more'])

In [24]:
df

,month_id,customer_dex_id,customer_dex,type,channel,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more,deuda_default
0,201801,12002,MARIA GARCIA SACCACO DE PILLACA,PUESTO DE MERCADO,MINORISTAS,246.83,0.00,246.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,201801,12009,GUILLERMINA QUINTANA HUACHACA,BODEGAS,MINORISTAS,228.81,228.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,201801,12017,TEOFILO VILLA HUAYLAS,PUESTO DE MERCADO,MINORISTAS,274.33,0.00,0.00,274.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,201801,12045,HILDA MORALES ROJAS,PUESTO DE MERCADO,MINORISTAS,1305.37,731.48,0.00,573.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,201801,12050,BERTHA BARRIENTOS ROCA,PUESTO DE MERCADO,MINORISTAS,183.86,183.86,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319972,202012,1633617,TRUDY MARIELE GUTIERREZ MAMANI,PANIFICACIÓN,MINORISTAS,536.82,0.00,536.82,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319974,202012,1633635,INTERNATIONAL LOGISTICS MANAGEMENT E.I.R,BODEGAS,MINORISTAS,1240.83,0.00,1240.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319975,202012,1633663,PATRICIA MONICA SEDANO BALDOCEDA,BODEGAS,MINORISTAS,11.90,0.00,11.90,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319976,202012,1633666,MARIA LUZ VEGA CHIRINOS,BODEGAS,MINORISTAS,0.00,-26.06,26.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319978,202012,1633724,LUIS FERNANDO DELGADO BEDOYA,MAYORISTAS,MAYORISTAS,8643.76,0.00,8643.76,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [25]:
df[df['deuda_default'] > 0]

,month_id,customer_dex_id,customer_dex,type,channel,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more,deuda_default
397,201801,20805,MARIA MERCEDES CIELO CHERO,BODEGAS,MINORISTAS,3.72,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.72,0.00,3.72
580,201801,80647,RUBEN TORIBIO ORELLANA CRUZ,PANIFICACIÓN,MINORISTAS,1025.69,0.00,0.00,0.00,0.00,0.00,0.00,1025.69,0.00,0.00,0.00,0.00,1025.69
610,201801,81035,GREGORIA RENDON BARSAYA,BODEGAS,MINORISTAS,217.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,217.49,0.00,0.00,0.00,217.49
644,201801,81788,HILDA EUSEBIA CHOQUE ORTEGA,BODEGAS,MINORISTAS,23.42,0.00,0.00,0.00,0.00,0.00,23.42,0.00,0.00,0.00,0.00,0.00,23.42
740,201801,82888,SUMA TTITO JOAQUIN,PANIFICACIÓN,MINORISTAS,3500.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3500.00,0.00,0.00,0.00,3500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318903,202012,1578415,VERONICA SANTA VERAMENDI ALMERCOR,BODEGAS,MINORISTAS,537.10,0.00,0.00,0.00,0.00,0.00,537.10,0.00,0.00,0.00,0.00,0.00,537.10
1318948,202012,1579348,MACALOT S.A.C.,GASTRONOMÍA,MINORISTAS,1395.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1395.09,0.00,1395.09
1318957,202012,1579529,LOPEZ CARDENAS MARCO ANTONIO,PUESTO DE MERCADO,MINORISTAS,4430.17,608.11,121.85,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3700.21,0.00,3700.21
1319211,202012,1612686,CASILLAS SALAS CAROLINE LISBETH,BODEGAS,MINORISTAS,617.94,0.00,0.00,467.24,0.00,0.00,150.70,0.00,0.00,0.00,0.00,0.00,150.70
1319548,202012,1622869,ESTHEFANY HERRERA ZEA,BODEGAS,MINORISTAS,2123.93,0.00,182.07,0.00,1292.01,0.00,649.85,0.00,0.00,0.00,0.00,0.00,649.85

In [26]:
df[df['amount'] <= 0]

,month_id,customer_dex_id,customer_dex,type,channel,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more,deuda_default
56,201801,13481,PARIONA VENTURA JULIA,BODEGAS,MINORISTAS,0.00,0.00,0.00,0.00,-39.89,39.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00
76,201801,14032,CARMEN CECILIA MILLONES ANDRADE,PUESTO DE MERCADO,MINORISTAS,-61.39,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-61.39,-61.39
491,201801,22866,WOS CONSULTORES S.A.C.,GASTRONOMÍA,MINORISTAS,-11.70,0.00,0.00,0.00,-11.70,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1007,201801,232018,OSORIO ESTRELLA MARIA J,BODEGAS,MINORISTAS,-2.93,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-2.93,-2.93
1010,201801,232116,RAMIREZ ROCA DE MARIA,BODEGAS,MINORISTAS,-3.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-3.06,-3.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319967,202012,1633529,ELENA NICOLAS RACCHUMY,BODEGAS,MINORISTAS,0.00,-65.21,65.21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319968,202012,1633543,CARMEN POMA SOSA,BODEGAS,MINORISTAS,0.00,-43.83,43.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319969,202012,1633580,OMAR ESPEJO VELZMORO,BODEGAS,MINORISTAS,0.00,-47.74,47.74,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319970,202012,1633587,ANA TELLO SULCA,BODEGAS,MINORISTAS,0.00,-84.30,84.30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319976,202012,1633666,MARIA LUZ VEGA CHIRINOS,BODEGAS,MINORISTAS,0.00,-26.06,26.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [27]:
df = df[df['amount'] >=0]
df

,month_id,customer_dex_id,customer_dex,type,channel,amount,on_time,delay_001_007_days,delay_008_015_days,delay_016_030_days,delay_031_060_days,delay_061_090_days,delay_091_120_days,delay_121_150_days,delay_151_180_days,delay_181_360_days,delay_360_to_more,deuda_default
0,201801,12002,MARIA GARCIA SACCACO DE PILLACA,PUESTO DE MERCADO,MINORISTAS,246.83,0.00,246.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,201801,12009,GUILLERMINA QUINTANA HUACHACA,BODEGAS,MINORISTAS,228.81,228.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,201801,12017,TEOFILO VILLA HUAYLAS,PUESTO DE MERCADO,MINORISTAS,274.33,0.00,0.00,274.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,201801,12045,HILDA MORALES ROJAS,PUESTO DE MERCADO,MINORISTAS,1305.37,731.48,0.00,573.89,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,201801,12050,BERTHA BARRIENTOS ROCA,PUESTO DE MERCADO,MINORISTAS,183.86,183.86,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319972,202012,1633617,TRUDY MARIELE GUTIERREZ MAMANI,PANIFICACIÓN,MINORISTAS,536.82,0.00,536.82,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319974,202012,1633635,INTERNATIONAL LOGISTICS MANAGEMENT E.I.R,BODEGAS,MINORISTAS,1240.83,0.00,1240.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319975,202012,1633663,PATRICIA MONICA SEDANO BALDOCEDA,BODEGAS,MINORISTAS,11.90,0.00,11.90,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319976,202012,1633666,MARIA LUZ VEGA CHIRINOS,BODEGAS,MINORISTAS,0.00,-26.06,26.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1319978,202012,1633724,LUIS FERNANDO DELGADO BEDOYA,MAYORISTAS,MAYORISTAS,8643.76,0.00,8643.76,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [28]:
df['tipo_dex'] = np.where((df['type'] == 'GASTRONOMÍA') | (df['type'] == 'PANIFICACIÓN'),'B2B','CMP')
df['flag_default'] = np.where(df['deuda_default'] > 0,1,0)

df['year'] = df['month_id'].astype(str).str.slice(stop=4)

In [29]:
df_b2b = df[df['tipo_dex'] == 'B2B']
df_cmp = df[df['tipo_dex'] == 'CMP']

In [30]:
temp = pd.pivot_table(
    df,
    index=["month_id"],
    aggfunc={"amount": "sum",
             "deuda_default": "sum",
             "on_time": "sum"},
)
temp = temp.reset_index()
temp

    month_id      amount  deuda_default     on_time
0     201801 53820985.10     2876234.58 29797529.65
1     201802 49791222.24      733326.93 33455357.48
2     201803 42963568.56      973071.20 20964484.65
3     201804 52438288.11      773464.68 34105384.63
4     201805 54688815.69      578751.50 36197626.79
5     201806 44675206.23      547085.55 22233569.60
6     201807 49013034.65      586794.83 23341005.62
7     201808 46788620.91      432381.59 22190320.11
8     201809 49250181.63      407195.03 24638291.83
9     201810 52547283.26      331155.13 25381094.53
10    201811 52660340.38      354949.46 24223461.75
11    201812 55148341.20      435052.70 25402385.15
12    201901 47579490.39      549629.97 22363032.33
13    201902 48034631.03      708285.79 22422520.94
14    201903 51212449.36      570332.68 24569654.28
15    201904 50323241.99      529633.56 23248870.02
16    201905 66552266.50      621162.67 41220475.33
17    201906 66823937.98      576208.77 35657849.81
18    201907 68308342.20      547951.67 42238799.55
19    201908 65513959.32      603693.34 40377214.04
20    201909 54789978.45      656306.23 29367183.27
21    201910 57837174.26      864118.69 26385659.25
22    201911 59068919.50      902103.36 26865023.90
23    201912 60220819.57      802968.37 23921113.20
24    202001 51302604.91      922844.93 22557149.67
25    202002 50481949.58     1288669.19 23563889.08
26    202003 47619387.99      969313.95 16321263.29
27    202004 23085005.73      946435.11  8860531.23
28    202005 15184325.93     1889036.74  5763554.50
29    202006 12075881.70     1647760.50  5545299.70
30    202007 11568718.46     1238823.93  4790510.53
31    202008 11765070.92      935964.40  5467190.00
32    202009 11965451.34      727036.51  5890178.31
33    202010 15394133.33      630096.79  8249251.01
34    202011 18104839.84      613324.41 10633466.72
35    202012 18844474.06      546596.68  8343525.73

In [31]:
# clientes únicos por año
temp2 = pd.pivot_table(
    df[df['deuda_default'] > 0],
    index=["month_id"],
    aggfunc={"customer_dex_id": pd.Series.nunique},  # count distinct
)
temp2 = temp2.reset_index()
temp2

    month_id  customer_dex_id
0     201801             3259
1     201802             1030
2     201803              843
3     201804              747
4     201805              730
5     201806              713
6     201807              783
7     201808              596
8     201809              471
9     201810              508
10    201811              537
11    201812              578
12    201901              725
13    201902              806
14    201903              664
15    201904              664
16    201905              662
17    201906              653
18    201907              600
19    201908              589
20    201909              705
21    201910              796
22    201911              791
23    201912              934
24    202001             1028
25    202002             1138
26    202003              915
27    202004              904
28    202005             1919
29    202006             1631
30    202007             1252
31    202008              879
32    202009              740
33    202010              607
34    202011              502
35    202012              401

# % de Clientes Default B2B DEX

In [32]:
#Default B2B DEX
pd.crosstab(df_b2b['flag_default'],
            df_b2b['month_id'],
           normalize='columns')*100

month_id,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,...,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012
flag_default,,,,,,,,,,,,,,,,,,,,,
0,94.78,98.05,97.65,98.19,98.39,97.87,97.60,98.64,98.93,98.47,...,97.17,92.70,70.92,65.91,72.59,80.40,83.86,88.15,90.90,93.17
1,5.22,1.95,2.35,1.81,1.61,2.13,2.40,1.36,1.07,1.53,...,2.83,7.30,29.08,34.09,27.41,19.60,16.14,11.85,9.10,6.83

# % de Clientes Default B2B DEX Gastronomia

In [33]:
#Default B2B DEX Gastronomia
data = df_b2b[df_b2b['type'] == 'GASTRONOMÍA']

pd.crosstab(data['flag_default'],
            data['month_id'],
           normalize='columns')*100

month_id,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,...,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012
flag_default,,,,,,,,,,,,,,,,,,,,,
0,96.00,98.88,98.65,99.06,99.10,98.65,98.29,99.01,99.17,98.82,...,97.70,90.15,49.89,52.39,64.71,74.10,78.23,84.92,88.83,91.21
1,4.00,1.12,1.35,0.94,0.90,1.35,1.71,0.99,0.83,1.18,...,2.30,9.85,50.11,47.61,35.29,25.90,21.77,15.08,11.17,8.79

# % de Clientes Default B2B DEX Panificacion

In [34]:
#Default B2B DEX Panificacion
data = df_b2b[df_b2b['type'] == 'PANIFICACIÓN']

pd.crosstab(data['flag_default'],
            data['month_id'],
           normalize='columns')*100

month_id,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,...,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012
flag_default,,,,,,,,,,,,,,,,,,,,,
0,92.40,96.37,95.88,96.48,96.97,96.56,96.40,98.02,98.51,97.83,...,96.14,93.56,85.74,82.95,85.24,90.16,92.28,93.10,93.94,95.97
1,7.60,3.63,4.12,3.52,3.03,3.44,3.60,1.98,1.49,2.17,...,3.86,6.44,14.26,17.05,14.76,9.84,7.72,6.90,6.06,4.03

# Deuda Default Anual B2B DEX

In [35]:
#Default Anual B2B DEX
df_b2b_default = df_b2b[df_b2b['deuda_default'] > 0]

temp3 = pd.pivot_table(
    df_b2b_default,
    index=['year'],
    aggfunc={"deuda_default": "sum"},
)
temp3 = temp3.reset_index()
temp3

   year  deuda_default
0  2018     2716620.55
1  2019     1754854.44
2  2020     3269189.29

# Deuda Default Anual B2B DEX Gastronomia

In [36]:
#Default Anual B2B DEX Gastronomia
data = df_b2b[(df_b2b['deuda_default'] > 0) & (df_b2b['type'] == 'GASTRONOMÍA')]

temp3 = pd.pivot_table(
    data,
    index=['year'],
    aggfunc={"deuda_default": "sum"},
)
temp3 = temp3.reset_index()
temp3

   year  deuda_default
0  2018      785392.87
1  2019      402911.35
2  2020     1500147.78

# Deuda Default Anual B2B DEX Panificacion

In [37]:
#Default Anual B2B DEX Panificacion
data = df_b2b[(df_b2b['deuda_default'] > 0) & (df_b2b['type'] == 'PANIFICACIÓN')]

temp3 = pd.pivot_table(
    data,
    index=['year'],
    aggfunc={"deuda_default": "sum"},
)
temp3 = temp3.reset_index()
temp3

   year  deuda_default
0  2018     1931227.68
1  2019     1351943.09
2  2020     1769041.51

# % de Clientes Default CMP

In [38]:
#Default B2B DEX
pd.crosstab(df_cmp['flag_default'],
            df_cmp['month_id'],
           normalize='columns')*100

month_id,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,...,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012
flag_default,,,,,,,,,,,,,,,,,,,,,
0,93.64,97.95,97.70,98.62,98.67,98.19,98.03,98.31,98.79,98.88,...,97.06,94.41,86.55,88.16,90.75,92.89,94.31,97.28,98.20,98.08
1,6.36,2.05,2.30,1.38,1.33,1.81,1.97,1.69,1.21,1.12,...,2.94,5.59,13.45,11.84,9.25,7.11,5.69,2.72,1.80,1.92

# % de Clientes Default CMP DEX Bodegas

In [39]:
#Default CMP DEX Bodegas
data = df_cmp[df_cmp['type'] == 'BODEGAS']

pd.crosstab(data['flag_default'],
            data['month_id'],
           normalize='columns')*100

month_id,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,...,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012
flag_default,,,,,,,,,,,,,,,,,,,,,
0,93.45,98.03,97.74,98.73,98.77,98.18,98.05,98.33,98.89,98.91,...,97.21,94.78,89.42,91.90,94.94,96.90,97.67,99.09,99.43,99.07
1,6.55,1.97,2.26,1.27,1.23,1.82,1.95,1.67,1.11,1.09,...,2.79,5.22,10.58,8.10,5.06,3.10,2.33,0.91,0.57,0.93

# % de Clientes Default CMP DEX Puesto De Mercado

In [40]:
#Default CMP DEX Puesto de Mercado
data = df_cmp[df_cmp['type'] == 'PUESTO DE MERCADO']

pd.crosstab(data['flag_default'],
            data['month_id'],
           normalize='columns')*100

month_id,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,...,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012
flag_default,,,,,,,,,,,,,,,,,,,,,
0,94.81,98.12,97.96,98.81,98.78,98.38,98.26,98.49,98.81,98.86,...,97.07,94.05,83.83,83.71,83.83,86.02,87.73,93.21,95.69,96.47
1,5.19,1.88,2.04,1.19,1.22,1.62,1.74,1.51,1.19,1.14,...,2.93,5.95,16.17,16.29,16.17,13.98,12.27,6.79,4.31,3.53

# % de Clientes Default CMP DEX Mayorista

In [41]:
#Default CMP DEX Mayorista
data = df_cmp[df_cmp['type'] == 'MAYORISTAS']

pd.crosstab(data['flag_default'],
            data['month_id'],
           normalize='columns')*100

month_id,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,...,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012
flag_default,,,,,,,,,,,,,,,,,,,,,
0,90.61,96.50,96.37,96.88,97.33,97.48,97.05,97.45,97.77,98.66,...,95.85,93.12,76.42,75.08,81.69,83.97,86.69,92.51,93.87,94.08
1,9.39,3.50,3.63,3.12,2.67,2.52,2.95,2.55,2.23,1.34,...,4.15,6.88,23.58,24.92,18.31,16.03,13.31,7.49,6.13,5.92

# Deuda Default Anual CMP DEX

In [42]:
#Default Anual B2B DEX
df_cmp_default = df_cmp[df_cmp['deuda_default'] > 0]

temp3 = pd.pivot_table(
    df_cmp_default,
    index=['year'],
    aggfunc={"deuda_default": "sum"},
)
temp3 = temp3.reset_index()
temp3

   year  deuda_default
0  2018     6320677.77
1  2019     6177962.05
2  2020     9091831.13

# Deuda Default Anual CMP DEX Bodegas

In [43]:
#Default Anual CMP DEX Bodegas
data = df_cmp[(df_cmp['deuda_default'] > 0) & (df_cmp['type'] == 'BODEGAS')]

temp3 = pd.pivot_table(
    data,
    index=['year'],
    aggfunc={"deuda_default": "sum"},
)
temp3 = temp3.reset_index()
temp3

   year  deuda_default
0  2018     1930043.23
1  2019     1644309.80
2  2020     1558974.96

# Deuda Default Anual CMP DEX Puesto de Mercado

In [44]:
#Default Anual CMP DEX Puesto de Mercado
data = df_cmp[(df_cmp['deuda_default'] > 0) & (df_cmp['type'] == 'PUESTO DE MERCADO')]

temp3 = pd.pivot_table(
    data,
    index=['year'],
    aggfunc={"deuda_default": "sum"},
)
temp3 = temp3.reset_index()
temp3

   year  deuda_default
0  2018     1696879.22
1  2019     1901567.82
2  2020     3189268.19

# Deuda Default Anual CMP DEX Mayorista

In [45]:
#Default Anual CMP DEX Mayoristas
data = df_cmp[(df_cmp['deuda_default'] > 0) & (df_cmp['type'] == 'MAYORISTAS')]

temp3 = pd.pivot_table(
    data,
    index=['year'],
    aggfunc={"deuda_default": "sum"},
)
temp3 = temp3.reset_index()
temp3

   year  deuda_default
0  2018     2693755.32
1  2019     2632084.43
2  2020     4343587.98

In [50]:
df['amount'][df['year'] == '2019'].sum()

696265210.5499998